#Payments{
    border: 1px dashed black ;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text], select, textarea {
    /* width: 70%; */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* align-self: right; */
  }
